@{ 
    var maxNumberofDaysBeforeKilling = 365;
    var showThis = true;
}

<h1>Anna</h1> 

    var fizzbuzz = new List<String>();
    var script = "<script>alert('Hello!');</script>";
    for(var = 1; i<= 100; i++)
    {}
Number of DaysBefore Killing Enemy:
<select></select>
    name ="theOPtion";
    @for (var i = 0; i <= maxNumberofDaysBeforeKilling; i++)
    {
        <option value="@i">@i</option>
        }

@if(showThis == true)
{
        <p>This is visible.</p>
}

@{ 

}